@use './mixins';
@use './vars';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body{
height: 100vh;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: vars.$color-grey-light;
  padding-top: calc(2* vars.$space-xxl);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1, h2, h3, h4, h5, h6, .heading {
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica,Arial,Apple Color Emoji,Segoe UI Emoji;
  font-weight: 700;
  letter-spacing: -0.015em;
}

h1 {
  letter-spacing: -0.025em;
}

h2 {
  letter-spacing: -0.020em;
}

article {
  max-width: 850px;
}

.visually-hidden {
  @include mixins.visually-hidden;
}

.container {
  @include mixins.container;

  display: flex;
  flex-direction: column;
  background: white;
  margin-bottom: calc(2* vars.$space-xxl);
  min-height: 70vh;
  border-radius: 20px;

  header {
    flex-grow: 0;
  }

  main {
    flex-grow: 1;
  }
}

.flex-wrapper {
  @include mixins.flex-wrapper;
}
