@use './mixins';
@use './vars';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  color: #333;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Open Sans', sans-serif;

  @include mixins.tablet {
    background: vars.$color-grey-light;
    padding-top: calc(2* vars.$space-xxl);
  }
}

button {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

main:not(.index) {
  a {
    color: vars.$color-red;
    text-decoration: underline;

    &:hover, &:focus {
      background-color: vars.$color-red-light;
    }

    &:focus {
      @include mixins.focus;
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1, h2, h3, h4, h5, h6, .heading {
  font-family: 'Inter Tight',system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica,Arial,Apple Color Emoji,Segoe UI Emoji;
  font-weight: 600;
}

h1 {
  letter-spacing: -0.01em;
  font-weight: 500;
}

h2 {
  letter-spacing: -0.005em;
  font-weight: 500;
}

.heading {
  font-family: 'League Spartan','Inter Tight',system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica,Arial,Apple Color Emoji,Segoe UI Emoji;
  letter-spacing: -0.02em;
  font-weight: 500;
}

article {
  max-width: 850px;

  h1 + div {
    margin-block-start: vars.$space-xs;
    font-size: 1.207rem
  }
}

del {
  text-decoration: line-through;
}

.visually-hidden {
  @include mixins.visually-hidden;
}

.container {
  @include mixins.container;

  display: flex;
  flex-direction: column;
  background: white;
  min-height: 70vh;
  border-radius: 20px;

  @include mixins.tablet {
    margin-block-end: calc(2* vars.$space-xxl);
  }

  header {
    flex-grow: 0;
  }

  main {
    flex-grow: 1;
  }
}

.flex-wrapper {
  @include mixins.flex-wrapper;
}
