@use './vars';

header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px black;
  padding-top: vars.$space-xl;
  align-items: flex-start;

  a {
    background: transparent;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    margin-block-start: vars.$space-xs;

    li {
      display: inline-block;

      &:not(:last-of-type) {
        margin-inline-end: vars.$space-lg;
      }

      a {
        text-decoration: none;
        
        &:hover, 
        &:focus {
          border-bottom: 2px solid currentColor;
        }
      }
    }
  }

  + main {
    padding-block-end: vars.$space-xl;
  }
}

.site-title a {
  display: flex;
  font-size: 1.85 * 1rem;

  &:hover, &:focus {
    text-decoration: underline;
  }

  .logo {
    margin-block-start: -8px;
    background: vars.$color-red;
    border-radius: 50%;
    margin-block-end: vars.$space-sm;
    width: 55px;
    height: 55px;
  }

  .heading {
    line-height: 1;
    margin-block-start: 8px;
    margin-inline-start: vars.$space-sm;
  }
}

