@use './vars';

.hello {
  display: flex;
  flex-direction: row;

  > div {
    flex: 1;

    &:first-of-type {
      border-right: 1.5px solid #eee; 
      padding-inline-end: vars.$space-xxl;
    }

    &:last-of-type {
      padding-inline-start: vars.$space-xxl;
    }
  }

  .hello--logo {
    border: 2px solid #720e0e;
    border-radius: 100%;
  }

  h1 {
    margin-top: vars.$space-md;
  }

  .chat-container {
    height: 100%;
  }

  ul {
    margin: 0;
    list-style-type: none;
    padding-top: calc(2* vars.$space-xxl);
    padding-bottom: vars.$space-xxl 0;

    li {
      margin-block-end: vars.$space-lg;
    }

    li > * {
      display: inline-flex;
      width: 100%;
      font-size: 1rem;
      line-height: 1.5;
      padding: vars.$space-lg vars.$space-xxl;
      border-radius: 40px;
      white-space: normal;
      border: 2px solid red;
      position: relative;

      &:hover {
        cursor: pointer;
      }
    }

    .marquee {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      pointer-events: none;

      .marquee__inner {
        width: fit-content;
        display: flex;
        position: relative;
        animation: marquee 10s linear infinite;
        animation-play-state: paused;
        opacity: 0;        
        text-align: center;
        white-space: nowrap;
        font-style: italic;
        padding-top: 1rem;

        span {
          padding: 0 5px;
        } 
      }
    }

    li > *:hover {
      .hidden-hover {
        visibility: hidden;
      }

      .marquee .marquee__inner {
        animation-play-state: running;
        opacity: 1;
        transition: .5s;  
      }
    }
  }
}

@keyframes marquee {
  0% {
    left: vars.$space-xxl;
  }
  100% {
    left: -100%
  }
}