@use './mixins';
@use './vars';

.index {
  display: flex;
  flex-direction: column;

  @include mixins.mobile {
    max-width: 560px;
  }

  @include mixins.desktop {
    flex-direction: row;
  }

  > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &.index--left {
      padding-block-start: vars.$space-xxl;
      padding-block-end: vars.$space-xl;
    }
  }

  @include mixins.desktop {
    > div {
      &.index--left {
        border-right: 1.5px solid vars.$color-grey-light;
        padding-inline-end: vars.$space-xxxl;
        padding-block-start: 0;
      }

      &.index--right {
        padding-block-start: vars.$space-xl;
        padding-inline-start: vars.$space-xxxl;
        padding-block-end: vars.$space-xl;
      }
    }
  }

  .index--left {
    @include mixins.mobile {
      .site-title {
        display: none;
      }
    }

    @include mixins.tablet {
      .site-title a {        
        .logo {
          height: 75px;
          width: 75px;
        }
      }
    }
    
    @include mixins.desktop {
      .site-title a {
        flex-direction: column;
        margin-block-end: vars.$space-sm;
        width: 200px;

        .logo {
          height: 150px;
          width: 150px;
        }

        .heading {
          margin-inline-start: 0;
          margin-block-start: vars.$space-sm;
        }
      }
    }

    p {
      margin-block-start: vars.$space-md;
    }
  }

  .chat-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

    @include mixins.tablet-only {
      min-height: 420px;
    }

    @include mixins.mobile {
      min-height: 500px;

      &:not(.chat-container--open) {
        border-radius: 15px;
        padding:  vars.$space-md;
        align-items: center;
        background: #fdfdfd;
        border: 1px solid #eee;
      }
    }

    &.chat-container--open {
      border-radius: 15px;
      background: #f9f9f9;

      @include mixins.mobile {
        border: 1px solid #ddd;
      }

      > #typebot-container {
        border-radius: 15px;
        box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
      }

      @include mixins.tablet-mobile {
        margin-bottom: vars.$space-lg;
      }

      @include mixins.desktop {
        margin-left: calc(-1 * vars.$space-xl);
        width: calc(2* vars.$space-xl + 100%);
      }
    }
  }

  ul {
    margin: 0;
    list-style-type: none;
    width: 100%;
  }
}

.index {
  .preamble {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .preamble--index,
  .preamble--chat {
    grid-area: 1 / 1 / 1 / 1;
    visibility: hidden;
  }

  .preamble--index {
    z-index: 1;
    visibility: visible;
  }
}

.index--chat {
  .preamble--index {
    z-index: 1;
    visibility: hidden;
  }

  .preamble--chat {
    z-index: 2;
    visibility: visible;
  }
}
